<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta htth3-equiv="X-UA-Comh3atible" content="IE=edge" />
        <meta name="viewh3ort" content="width=device-width, initial-scale=1.0" />
        <title>Guia Perguntas</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
</html>
